.projectArea {
  padding: 100px 30px 120px 30px;
  color: var(--color1);
  margin: 0 80px;
}
.projectArea2{
  background-color: var(--color3);
  padding: 30px;
}
.projectArea .title-text {
  font-size: 3.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color2);
}
.projectArea .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.projectArea .project-title {
  font: normal bold 26px/20px var(--roboto);
}
.projectArea .card {
  background-color: var(--color3);
  -webkit-box-shadow: 3px 5px 32px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 32px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 32px -3px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.projectArea .technology-used ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  font: normal 600 12px var(--roboto);
  padding: 1px 0 0 0;
  position: relative;
}
.projectArea .technology-used ul li {
  list-style: none;
  padding: 0;
  border-radius: 10px;
}
.projectArea .technology-used ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 30%;
  height: 0.2rem;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--color1) 20%, transparent 100%);
}
.projectArea .card-body {
  padding: 10px 0;
}
.projectArea .btnGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--roboto);
}
.projectArea .btnGroup a {
  color: var(--color1);
  text-decoration: none;
}
.projectArea .btnGroup .secondary-button {
  background-color: var(--color2);
  width: 60px;
  height: 30px;
}
.projectArea .btnGroup a {
  font-size: 10px;
}
.projectArea .btnGroup .secondary-button2 {
  background-color: transparent;
  border: 2px solid var(--color2);
  width: 60px;
  height: 30px;
}
.projectArea .btnGroup .secondary-button:hover {
  background-color: transparent;
  border: 2px solid var(--color2);
}
@media screen and (max-width: 600px) {
  .projectArea .title-text {
    font: normal bold 3.2rem/ 44px var(--roboto);
  }
}
